/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif;  }
a:hover                        { text-decoration:none; }

body{
	background-image: url(../images/background.jpg);
}
h2,h3,h4{
	font-family: Worldwide Headline ;
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
}
body p,li,a{
	font-family: calibri;
	font-size: 14px;
}
#wrap {
	padding-top: 17px;
	max-width:780px; 
	margin: 0 auto;  
	background-color: #FFFFFF; 
}
#header {
	position: relative;
		max-width:767px;
	width:100%;
	height:auto;
}
.bgr_img{
	padding-top: 24.49%;  /* slope */
	background-size: cover;

	background-image: url(../images/header.png);
	max-width:767px;
	width:100%;
	height:auto;
	margin: 0px auto ;
	margin-bottom: 15px;
}

#header h1{
	width: 300px;
	height: 115px;
	opacity: 0.0;
	position: absolute;
	display: block;
	font-size: 40px;
	top:40px;
	left: 36px;
}
#content{
	max-width:700px;
	width:100%;
	height: 880px;
	margin: auto ;
}
h2{
	color: #DD8AC2;
	padding: 10px;
	padding-left: 17px;
	background-color: #FCF1F7;
}
.articles a{
	display: inline-block;
	font-family: calibri;
	font-size: 14px;
	text-decoration: none;
	color: #649BC8;
	margin-top: 10px;
	margin-bottom: 10px;
}
.articles li{
	margin-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #EBF4FB;
}
.articles li:last-of-type{
	border-bottom: none;
}
.sections {
	display: inline-block;
	max-width:700px;
	width:100%;
	height: auto;
	margin-bottom: 30px;
}
.sections>h3{	
	color: #669CC9;
	padding: 10px;
	padding-left: 17px;
	background-color: #EBF4FB;
	margin-bottom: 10px;
}
.sections img{
	display: inline-block;
	max-width:136px;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.sections a{
	text-decoration: none;
	display: inline-block;
	color: #649BC8;
}
.sections li {
	text-align: center;
	float: left;

	max-width: 136px;
	width: 20%;
	margin-right: 7px;
}
.news {
	max-width: 355px;
	width: 100%;
	height: 218px;
	background-color: #EBF4FB;
	float: left;
	margin-right: 20px;
}
.news ul{
	color: #666666;
	margin-left: 17px;
	margin-bottom: 10px;
	margin-top: 16px;
}
.news li,.popular_articles li{
	font-size: 13px;
	margin-bottom: 2px;
}
.news>h4,.popular_articles>h4{	
	margin-top: 10px;
	margin-left: 17px;
	color: #669CC9;
}

.popular_articles{
	float: left;
	max-width: 325px;
	width: 100%;
	height: 218px;
	background-color: #EBF4FB;
}
.popular_articles ul{
	color: #666666;
	margin-left: 17px;
	margin-bottom: 10px;
	margin-top: 16px;
}
/*.popular_articles>h4{	
	margin-top: 10px;
	margin-left: 17px;
	color: #669CC9;
}*/
.popular_articles a, .news a{
	text-decoration: none;
	color: #649BC8;
	margin-left: 17px;
}
#footer{
	text-align: center; 
	max-width: 700px;
	width: 100%;
	height: auto;
	margin: 0px auto ;
}
#footer p{
	margin-top: 20px;
	font-family: calibri;
	font-size: 12px;
	color: #da80bc;
}
#footer a{
	font-family: calibri;
	font-size: 12px;
	color: #a9a9a9;
	text-decoration: none;
}
#footer ul{
	display: inline-block;
	margin: auto;
	margin-bottom: 20px;
}
#footer li{
	margin-right: 10px;
	float: left;
}
@media  (max-width: 360px){
	#content{
		display: inline-block;
		height: auto;
	}
	.articles {
		margin-left: 10px;
	}
	.popular_articles{
		max-width: 360px;
		margin-top: 10px;
	}
	#footer {
		text-align: left;

	}
	#footer p{
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
		float: left;
	}
	#footer li{
		margin-left: 10px;
		margin-top: 3px;
		float: none;
	}
}