/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body height:100%; }
body                            { padding:0; margin:0; font:14px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif;  }
a:hover                        { text-decoration:none; }

body{
	background-image: url(../images/background.jpg);
}
h2,h3,h4{
	font-family: Worldwide Headline ;
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
}
body p,li,a{
	font-family: calibri;
	font-size: 14px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#wrap {
	padding-top: 17px;
	width:780px; 
	margin: 0 auto;  
	background-color: #FFFFFF; 
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

#header{
	background-image: url(../images/header.png);
	width:771px;
	height:194px;
	margin: 0 auto;
	margin-bottom: 15px;

}
#header h1{
	display: inline-block;
	width:305px;
	height: 115px;
	background-image: url(../images/logo.png);
	margin-top:39px;
	margin-left: 34px;
}
#header a{
	display: block;
	text-indent: -5000px;
	width:305px;
	height: 115px;

	
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#content{
	height: auto;
	padding: 0 45px;
		overflow: hidden;
}
h2{
	color: #DD8AC2;
	padding: 10px;
	padding-left: 17px;
	background-color: #FCF1F7;
}
.articles a{
	display: inline-block;
	font-family: calibri;
	font-size: 14px;
	text-decoration: none;
	color: #649BC8;
	margin: 10px 0 10px 0;
}
.articles li{
	margin: 10px 0 10px 0;
	border-bottom: 1px solid #EBF4FB;
}
.articles li:last-of-type{
	border-bottom: none;
}

h3{	
	color: #669CC9;
	padding: 10px;
	padding-left: 17px;
	background-color: #EBF4FB;
	margin-bottom: 10px;
}
 table {
	width: 570px;
	height: auto;
	margin-bottom: 17px;
}
 table img{
	display: inline-block;
	width:136px;
	height: auto;
	margin-bottom: 3px;
}
td a{
	text-decoration: none;
	display: inline-block;
	color: #649BC8;
	text-align: center;
	width: 136px;
}
.news {
	width: 355px;
	height: 218px;
	background-color: #EBF4FB;
	float: left;
	margin-right: 20px;
}
.popular_articles ul, .news ul{
	color: #666666;
	margin: 16px 0 10px 17px;
}
.news li,.popular_articles li{
	font-size: 13px;
	margin-bottom: 2px;
}
.news>h4,.popular_articles>h4{
	margin: 10px 0 0 17px;	
	color: #669CC9;
}
.popular_articles{
	float: left;
	width: 315px;
	height: 218px;
	background-color: #EBF4FB;
}
.popular_articles a, .news a{
	text-decoration: none;
	color: #649BC8;
	margin-left: 17px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#footer{
	overflow: hidden;
	text-align: center; 
	width: 700px;
	height: auto;
	margin: 0px auto ;
}
#footer p{
	margin-top: 20px;
	font-family: calibri;
	font-size: 12px;
	color: #da80bc;
}
#footer a{
	font-family: calibri;
	font-size: 12px;
	color: #a9a9a9;
	text-decoration: none;
}
#footer ul{
	display: inline-block;
	margin: auto;
	margin-bottom: 20px;
}
#footer li{
	margin-right: 10px;
	float: left;
}